
<div id="BannerCarousel" class="carousel slide mb-5">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <app-banner-slide></app-banner-slide>
        </div>
        <div class="carousel-item">
            <app-banner-slide></app-banner-slide>
        </div>
        <div class="carousel-item">
           <app-banner-slide></app-banner-slide>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#BannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#BannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>