.CarouselSlideDiv {
    width: 95vw;
    height: 100%;
}

.FlashSalesCarouselDiv::-webkit-scrollbar {
    display: none;
}

.FlashSalesCard {
    height: 350px;
    width: 200px;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 10px;
}

.FlashSalesCard:hover {
    border-color: #1c799b;
}

.ImageOfCard {
    height: 130px;
    transition: height 0.5s;
}

/* WHEN I HAVE TO GO HOVER WITH ANOTHER TRANSITION I WILL USE IT    --------------- */
.FlashSalesCard:hover .ImageOfCard {
    height: 150px;
}

.CountDownDiv {
    border-radius: 10px;
}

.ShopNowbutton {
    background: #1c799b;
    border-radius: 30px;
    height: 40px;
    width: 130px;
}

.CountDownTimerDiv {
    /* background-color: #1c799b; */
    box-shadow: 1px 1px 20px rgb(188, 187, 187);
    border-radius: 5px;
    height: 35px;
    width: auto;
}