<div class="FooterWholeDiv my-3">
    <div class="row px-2 gx-0">
        <div class="col-lg-3 col-md-3 col-sm-12 h-10">
            <app-logo></app-logo>
            <p>We're Grocery Shop, an innovative team of food supliers.</p><br>
            <p class="fw-semibold">2972 Westheimer Rd. Santa Ana, Illinois 85486</p><br>
            <p class="HoverTextTeal fw-semibold">mygroceryapp.com</p>
            <p class="HoverTextTeal fw-semibold">+(876) 34567</p><br>
        </div>
        <div class="col-8 h-100 m-0 p-0 ">
            <div class="row m-0 p-0">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0 m-0">
                    <h5 class="my-2">Information</h5>
                    <p class="my-2">Become a Vendor</p>
                    <p class="my-2">Affiliate Program</p>
                    <p class="my-2">Privacy Policy</p>
                    <p class="my-2">Our Suppliers</p>
                    <p class="my-2">Extended Plan</p>
                    <p class="my-2">Community</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0 m-0 ">
                    <h5 class="my-2">Customer Support</h5>
                    <p class="my-2">Help Center</p>
                    <p class="my-2">Contact Us</p>
                    <p class="my-2">Report Abuse</p>
                    <p class="my-2">Submit and Dispute</p>
                    <p class="my-2">Policies & Rules</p>
                    <p class="my-2">Online Shopping</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0 m-0">
                    <h5 class="my-2">My Account</h5>
                    <p class="my-2">My Account</p>
                    <p class="my-2">Order History</p>
                    <p class="my-2">Shopping Cart</p>
                    <p class="my-2">Compare</p>
                    <p class="my-2">Help Ticket </p>
                    <p class="my-2">Wishlist</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0 m-0">
                    <h5 class="my-2">Daily Groceries</h5>
                    <p class="my-2">Dairy & Eggs</p>
                    <p class="my-2">Meat & Seafood</p>
                    <p class="my-2">Breakfast Food</p>
                    <p class="my-2">Household Supplies</p>
                    <p class="my-2">Bread & Bakery</p>
                    <p class="my-2">Pantry Staples</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row h-50 px-2 gx-0">
        <div class="col-lg-3 col-md-3 col-sm-12 ">
            <h4 class="mx-1">Shop on The Go</h4>
            <p>MarketPro App is available. Get it now</p><br>
            <div class="h-50 w-100">
                <div class="row m-0 p-0 h-100">
                    <div class="col-6 center-elements">
                        <img class="h-40 " src="images/qr.png" alt="">
                    </div>
                    <div class="col h-100 w-100 center-elements m-0 p-0">
                        <div class="row m-0 p-0 h-60 w-100 pt-1">
                            <img class="h-40" src="images/as.png" alt="">
                            <img class="h-40 " src="images/ps.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <img class="h-20px" src="images/paymentmethod.png" alt="">
            </div>
        </div>
    </div>
</div>
<hr class="text-SkyBlue">
<div class="h-80px gx-0 p-0 m-0 ">
    <div class="row gx-0 m-0 p-0 h-100 d-flex align-items-center">
        <div class="col-lg-10 col-md-6 col-sm-12 d-flex">
            <p class="text-black fw-semibold">Copyright © </p>
            <p class="text-green fw-semibold mx-1">2025</p>
            <p class="text-black fw-semibold">Ui-drops All Rights Reserved</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 d-flex justify-content-center my-3">
            <div class="WhiteDiv40px center-elements mx-1 SocialDivHover">
                <img class="SocialImage" src="images/fb-teal.png" alt="social media platform ">
            </div>
            <div class="WhiteDiv40px center-elements mx-1 SocialDivHover">
                <img class="SocialImage" src="images/x-teal.png" alt="social media platform ">
            </div>
            <div class="WhiteDiv40px center-elements mx-1 SocialDivHover">
                <img class="SocialImage" src="images/ig-teal.png" alt="social media platform ">
            </div>
            <div class="WhiteDiv40px center-elements mx-1 SocialDivHover">
                <img class="SocialImage" src="images/li-teal.png" alt="social media platform ">
            </div>
        </div>
    </div>
</div>