<div>
    <div class="dropdown NavItemHoverArrowAnimate">
        <button class="btn dropdown-toggle center-elements" type="button" data-bs-toggle="dropdown">
            <p class="HoverTeal fw-semibold">Blog</p>
            <img class="h-10px mx-1 Arrow" src="images/down-grey.png" alt="dropdownarrow">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" data-bs-dismiss="offcanvas" [routerLink]="['blog']">Blog</a></li>
            <li><a class="dropdown-item" href="#">Blog Details</a></li>
        </ul>
    </div>
</div>