<div class="my-5 MainBannerBg position-relative">
    <!-- <img class="position-absolute h-100 img-fluid" src="images/banner-bg.png" alt="banner image"> -->
    <div id="PositionOfArrow" class="center-elements w-100 position-absolute" style="height: 70px;">
        <div (click)="scrollDown()" id="BannerArrowDiv" class="ArrowUpDown center-elements">
            <img class="h-50" src="images/white-arrow-down.png" alt="whiteArrowOnBanner">
        </div>
    </div>
    <div class="row h-100 w-100 m-0 p-0 ">
        <div class="col-lg-7 col-md-7 col-sm-12 d-flex ps-5 align-items-center  p-2">
            <div>
                <p class="fw-bold text-green RightToLeft">Save Up To 50% Off On Your First Order</p>
                <p class="BannerMainText RightToLeft">Daily Grocery Order and Get Express Delivery</p>
                <div class="d-flex align-items-center">
                    <div class="BannerButton my-3 center-elements RightToLeft">
                        <p class="text-white fw-semibold">Explore Shop</p>
                        <img class="h-20px mx-1" src="images/white-cart.png" alt="shopping cart">
                    </div>
                    <p class="mx-1 Startingat RightToLeft">Starting at</p>
                    <p class="mx-1 Price RightToLeft">₹50.99</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 center-elements ">
            <img style="height: 300px;" src="images/banner-img.png" alt="bannergroceryimage">
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center position-relative">
        <div class="trapezoid d-flex justify-content-center "></div>
    </div>
</div>