.MainBannerBg {
    background-color: #e9ffff;
    /* border-radius: 15px; */
}

.BannerButton {
    background-color: #1c799b;
    height: 40px;
    width: 170px;
    border-radius: 50px;
}

.BannerMainText {
    font-size: 45px;
    font-weight: 600;
    font-family: 'Exo', Helvetica, sans-serif;
    font-style: italic;
}

.Startingat {
    font-style: italic;
}


/* .trapezoid {
    border-bottom: 50px solid #10acac;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    height: 0;
    width: 110px;
    rotate: 180deg;
} */

#BannerArrowDiv {
    background: #1c799b;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    z-index: 1000;
    margin-top: 100%;
}

#PositionOfArrow {
    bottom: 0;
    right: 0;
    left: 0;
}

.ArrowUpDown {
    animation-name: ArrowUpDown;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes ArrowUpDown {
    0% {
        margin-top: 20px;
    }

    50% {
        margin-bottom: 70px;
    }

    100% {
        margin-top: 20px;
    }
}

@media screen and (max-width: 575px) {
    .fruitBasketImage {
        height: 200px;
    }

    .BannerMainText {
        font-size: 25px;
    }

}

@media screen and (min-width: 576px) {
    .fruitBasketImage {
        height: 200px;
    }

    .BannerMainText {
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) {
    .fruitBasketImage {
        height: 300px;
    }

    .BannerMainText {
        font-size: 35px;
    }
}

@media screen and (min-width: 992px) {
    .fruitBasketImage {
        height: 300px;
    }

    .BannerMainText {
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .fruitBasketImage {
        height: 300px;
    }

    .BannerMainText {
        font-size: 45px;
    }
}

@media screen and (min-width: 1400px) {
    .fruitBasketImage {
        height: 300px;
    }

    .BannerMainText {
        font-size: 45px;
    }
}