<!-- MAIN PAGE OF THE BANNER THAT HAVE RELATIVE POSITION ------------------------>
<div class="my-5 p-3 MainBannerBg rounded-5 position-relative">
    <!-- COVER IMAGE OF THE BANNER THAT IS OVERLAPING ON THE MAIN DIV ------ -->
    <img class="position-absolute h-100 img-fluid" src="images/banner-bg.png" alt="banner image">
    <!-- ARROE TO DOWN THE PAGE WITH ANIMATION --------------------------- -->
    <div id="PositionOfArrow" class="center-elements w-100 position-absolute" style="height: 70px;">
        <div (click)="scrollDown()" id="BannerArrowDiv" class="ArrowUpDown center-elements">
            <img class="h-50 img-fluid" src="images/white-arrow-down.png" alt="whiteArrowOnBanner">
        </div>
    </div>
    <!-- MAIN LIGHTBLUE DIV OF THE BANNER SLIDE -->
    <div class="row h-100 w-100 g-0 m-0 p-0 align-items-center py-5">
        <div class="col-lg-7 col-md-7 col-sm-12 center-elements  center-elements">
            <div class="w-75">
                <p data-aos="fade-right" class="fw-bold text-green RightToLeft">Save Up To 50% Off On Your First Order
                </p>
                <p data-aos="fade-right" class="BannerMainText RightToLeft text-wrap">Daily Grocery Order and Get
                    Express Delivery</p>
                <div data-aos="fade-right" class="d-flex align-items-center">
                    <div class="BannerButton my-3 center-elements RightToLeft">
                        <p class="text-white fw-semibold CommonResponsiveText">Explore Shop</p>
                        <img class="h-20px mx-1" src="images/white-cart.png" alt="shopping cart">
                    </div>
                    <p class="mx-1 Startingat RightToLeft CommonResponsiveText">Starting at</p>
                    <p class="mx-1 text-danger fw-bold text-italic RightToLeft CommonResponsiveText">₹50.99</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 center-elements">
            <img class="fruitBasketImage" data-aos="zoom-in" src="images/banner-img.png" alt="bannergroceryimage">
        </div>
    </div>
</div>