<div class="overflow-hidden">
    <div *ngIf="LengthOfWishlist > 0" class="overflow-hidden">
        <div class="h-100px Bg-LightBlue p-2">
            <div class="d-flex h-100 justify-content-between align-items-center">
                <h5>Wishlist</h5>
                <div class="d-flex align-items-center">
                    <a class="text-decoration-none text-black" [routerLink]="['/']">
                        <div class="d-flex align-items-center">
                            <img class="h-15px mx-1" src="images/home.png" alt="home">
                            <p class="fs-12px fw-semibold">Home</p>
                        </div>
                    </a>
                    <div class="d-flex align-items-center ">
                        <img class="h-20px mx-2" src="images/arrow.png" alt="home">
                        <p class="TextTeal fs-12px fw-semibold">Wishlist</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto g-0 p-0 m-0 my-5 p-3">
            <div class="overflow-x-auto">
                <div class="d-flex">
                    <div class="h-50px d-flex">
                        <div class="w-150px center-elements Bordergrey">
                            <h5>Delete</h5>
                        </div>
                        <div class="w-500px center-elements Bordergrey ">
                            <h5>Product Name</h5>
                        </div>
                        <div class="w-150px center-elements Bordergrey">
                            <h5>Unit Price</h5>
                        </div>
                        <div class="w-150px center-elements Bordergrey">
                            <h5>Stock Status</h5>
                        </div>
                        <div class="w-250px center-elements Bordergrey">
                            <h5>Actions</h5>
                        </div>
                    </div>
                </div>
                <div class="d-flex" *ngFor="let p of WishlistProducts">
                    <div *ngIf="p.isWishlisted" class="h-200px d-flex">
                        <div class="w-150px center-elements Bordergrey">
                            <div (click)="RemoveFromWishlist(p)" class="col-6 text-danger center-elements">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                                <p class="text-danger">Remove</p>
                            </div>
                        </div>
                        <div class="w-500px center-elements Bordergrey ">
                            <div class="row g-0 p-0 m-0 h-100  w-100">
                                <div class="col-5 center-elements">
                                    <div class="h-150px w-150px center-elements Bordergrey rounded-3">
                                        <img class="h-75" [src]="p.Img1" alt="Product images">
                                    </div>
                                </div>
                                <div class="col-7 align-items-center d-flex">
                                    <div class="d-block ">
                                        <p class="my-2 fw-semibold">name</p>
                                        <div class="d-flex align-items-center my-3">
                                            <img class="h-15px mx-1" src="images/star.png" alt="ratings">
                                            <p class="fw-semibold fs-14px">4.8</p>
                                            <p class="mx-2">|</p>
                                            <p class="text-body-secondary">128 Reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-150px center-elements Bordergrey">
                            <h6>₹{{p.Price}}</h6>
                        </div>
                        <div class="w-150px center-elements Bordergrey">
                            <h6>In Stock</h6>
                        </div>
                        <div class="w-250px center-elements Bordergrey">
                            <div (click)="AddToCart(p)" class="d-flex align-items-center">
                                <div class="h-40px BgGrey w-200px rounded-3 center-elements BlackToWhiteOnHover-Text">
                                    Add to cart
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-support-line></app-support-line>
        </div>
    </div>
    <div *ngIf="LengthOfWishlist > 0" class="w-100 center-elements p-5 overflow-hidden">
        <div>
            <img class="h-400px img-fluid w-100" src="images/EmptyIllustration.png" alt="">
            <h3 class="center-elements fw-semibold">No item found</h3>
        </div>
    </div>
</div>