.Recomended {
    height: 30px;
    width: auto;
    color: rgb(136, 135, 135);
    /* background: #1c799b; */
    border-radius: 30px;
}

.Recomended:hover {
    border: 1px solid #1c799b;
    color: #1c799b;
}

.WishlistButton {
    height: 35px;
    width: 35px;
    border: 1px solid rgb(161, 159, 159);
    border-radius: 50%;
    transition: height width 0.5s;
}

.RecomendedCard {
    height: 400px;
    width: 200px;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 10px;
}

.RecomendedCard:hover {
    border-color: #1c799b;
}

.ImageOfCard {
    height: 150px;
    transition: height 0.5s;
}

/* WHEN I HAVE TO GO HOVER WITH ANOTHER TRANSITION I WILL USE IT    --------------- */
.RecomendedCard:hover .ImageOfCard {
    height: 180px;
}

.RecomendedCard:hover .WishlistButton {
    height: 40px;
    width: 40px;
}

.CountDownDiv {
    border-radius: 10px;
}

.ShopNowbutton {
    background: #1c799b;
    border-radius: 30px;
    height: 40px;
    width: 130px;
}

.CountDownTimerDiv {
    box-shadow: 1px 1px 20px rgb(188, 187, 187);
    border-radius: 5px;
    height: 35px;
    width: auto;
}