<div class="bg-white" id="WholeNavBarDiv">
    <!-- UPPER PART OF THE TAEL COLOR SHOWING THE TIMER ------------------- -->
    <div class="p-1 bg-teal d-flex align-items-center justify-content-between w-100">
        <div class="row g-0 p-0 m-0 w-100 justify-content-around">
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-start align-items-center">
                <div class="row m-0 p-0 g-0">
                    <h6 class="col-lg-5 col-sm-12 col-md-12 text-white tealbar-text fs-13px fw-semibold m-1">Until the sale ends : </h6>
                    <div class="col-lg-6 col-sm-12 col-md-12 d-flex my-1">
                        <div class="fs-13px center-elements text-white mx-1 center-elements">
                            <countdown class="fw-bold" [config]="{leftTime: 69120000, format: ' dd '}">
                            </countdown>
                            <p class="fs-10px mx-1">Days</p>
                        </div>
                        <div class=" fs-13px center-elements text-white mx-1 center-elements">
                            <countdown class="fw-bold" [config]="{leftTime: 69120000, format: ' HH '}">
                            </countdown>
                            <p class="fs-10px mx-1">Hours</p>
                        </div>
                        <div class=" fs-13px center-elements text-white mx-1 center-elements">
                            <countdown class="fw-bold" [config]="{leftTime: 69120000, format: ' mm '}">
                            </countdown>
                            <p class="fs-10px mx-1">Minutes</p>
                        </div>
                        <div class=" fs-13px center-elements text-white mx-1 center-elements">
                            <countdown class="fw-bold" [config]="{leftTime: 69120000, format: ' ss '}">
                            </countdown>
                            <p class="fs-10px mx-1">Sec.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-0 col-sm-0 justify-content-center align-items-center d-lg-flex d-none">
                <p class="text-white tealbar-text">Buy one get one free on</p>
                <p class="tealbar-text mx-1 text-warning">first order | </p>
                <img class="h-10px m-0 p-0 " src="images/white-truck.png" alt="deliverytruck">
                <p class="text-white tealbar-text"> Track your order</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-start">
                <p class="text-white tealbar-text mx-2 d-lg-flex d-none">Order Tracking</p>
                <p class="text-white tealbar-text mx-2 d-lg-flex d-none">About us</p>
                <div class="dropdown OpenDropDownOnLeft NavItemHoverArrowAnimate m-0 p-0 g-0">
                    <button class="text-white tealbar-text mx-2 btn m-0 p-0  dropdown-toggle center-elements"
                        type="button" data-bs-toggle="dropdown">
                        <p class="text-white">Eng</p>
                        <img class="h-10px mx-1 Arrow" src="images/down-white.png" alt="dropdownarrow">
                    </button>
                    <ul class="dropdown-menu ">
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto  mt-auto mb-auto mx-1" src="images/flag.png" alt="indianflag">
                                <p>Hindi</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/united-kingdom.png"
                                    alt="indianflag">
                                <p>English</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/spain.png" alt="indianflag">
                                <p>Spanish</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/france.png"
                                    alt="indianflag">
                                <p>French</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/japan.png" alt="indianflag">
                                <p>Japnese</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown OpenDropDownOnLeft NavItemHoverArrowAnimate">
                    <button class="text-white tealbar-text mx-2 btn p-0 m-0 dropdown-toggle center-elements"
                        type="button" data-bs-toggle="dropdown">
                        <p class="text-white">USD</p>
                        <img class="h-10px mx-1 Arrow" src="images/down-white.png" alt="dropdownarrow">
                    </button>
                    <ul class="dropdown-menu ">
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto  mt-auto mb-auto mx-1" src="images/flag.png" alt="indianflag">
                                <p>Hindi</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/united-kingdom.png"
                                    alt="indianflag">
                                <p>English</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/spain.png" alt="indianflag">
                                <p>Spanish</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/france.png"
                                    alt="indianflag">
                                <p>French</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/japan.png" alt="indianflag">
                                <p>Japnese</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- SEARCH BAR WITH THE LOGO OF THE GROCERY SHOP ------------------------ -->
    <div class="h-100px d-flex justify-content-around align-items-center">
        <app-logo></app-logo>
        <div class="h-100 w-60 center-elements p-2 d-lg-flex d-none p-1">
            <div class="h-50px w-80 Bordergrey rounded-2 center-elements">
                <div class="w-20 h-100">
                    <div class="dropdown h-100 w-100 center-elements">
                        <p class="btn dropdown-toggle fs-14px" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            All caterogies |
                        </p>
                        <ul class="dropdown-menu" style="height: 200px; overflow-y: auto;">
                            <li><a class="dropdown-item" href="#">All categories</a></li>
                            <li><a class="dropdown-item" href="#">Grocery</a></li>
                            <li><a class="dropdown-item" href="#">Breakfast and Dairy</a></li>
                            <li><a class="dropdown-item" href="#">Vegetables</a></li>
                            <li><a class="dropdown-item" href="#">Milk and Dairies</a></li>
                            <li><a class="dropdown-item" href="#">Pet foods and Toy </a></li>
                            <li><a class="dropdown-item" href="#">Bread and Bakery</a></li>
                            <li><a class="dropdown-item" href="#">Fresh seafood </a></li>
                            <li><a class="dropdown-item" href="#">Frozen Foods</a></li>
                            <li><a class="dropdown-item" href="#">Noodles and Rice</a></li>
                            <li><a class="dropdown-item" href="#">ice Cream</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-70 h-100 center-elements">
                    <input class="w-100 bg-transparent SearchInput" type="text"
                        placeholder="Search for product caterogies and brands...">
                </div>
                <div class="w-10 h-100">
                    <div class="SearchIconDiv h-80 m-1 center-elements">
                        <img class="h-50" src="images/search-white.png" alt="searchIcon">
                    </div>
                </div>
            </div>
        </div>
        <div class="h-100 d-flex justify-content-around align-items-center">
            <div class="h-100 center-elements d-sm-flex d-md-flex d-lg-none">
                <img class="h-15 mx-1" src="images/searchIcon.png" alt="searchIcon">
            </div>
            <a class="text-decoration-none fs-14px HoverTeal fw-semibold text-black mx-2" [routerLink]="['profile']">
                <div class="h-100 center-elements">
                    <img class="h-20px mx-1" src="images/profile-outline.png" alt="profileIcon">
                    <p class="HoverTeal d-lg-flex d-none">Profile</p>
                </div>
            </a>
            <a class="text-decoration-none fs-14px HoverTeal fw-semibold text-black mx-2" [routerLink]="['wishlist']">
                <div class="h-100 center-elements position-relative">
                    <div
                        class="h-20px w-20px BgTeal rounded-circle center-elements text-white position-absolute mb-4 me-4">
                        {{TotalNumberOFItemsInWishlist}}</div>
                    <img class="NavbarIcon mx-1" src="images/heart.png" alt="profileIcon">
                    <p class="HoverTeal d-lg-flex d-none">Wishlist</p>
                </div>
            </a>
            <a class="text-decoration-none fs-14px HoverTeal fw-semibold text-black mx-2" [routerLink]="['cart']">
                <div class="h-100 center-elements position-relative">
                    <div class="h-20px w-20px BgTeal rounded-circle center-elements text-white position-absolute mb-4">
                        {{TotalNumberOFItemsInCart}}</div>
                    <img class="NavbarIcon mx-1" src="images/shopping-cart.png" alt="profileIcon">
                    <p class="HoverTeal d-lg-flex d-none">cart</p>
                </div>
            </a>
        </div>
    </div>
    <hr class="m-0">
    <!-- BROWSING CATEGORIES AND PAGES NAVIGATION  -->
    <div class="d-flex justify-content-around py-2">
        <div class="h-100 w-auto center-elements">
            <div class="BgHoverGreen h-50px w-100 BrowseCategories dropdown center-elements p-3">
                <button class="btn m-0 p-0 h-100 w-100 center-elements dropdown-toggle text-white" type="button"
                    data-bs-toggle="dropdown">
                    <img class="h-20px me-1" src="images/categories-white.png" alt="categories">
                    <p class="text-white fs-14px">Browse Categories</p>
                    <img class="h-20px mx-1 Arrow" src="images/down-white.png" alt="dropdownarrow">
                </button>
                <div class="dropdown-menu m-0 p-2 CategoryMenu">
                    <div class="container-fluid h-100">
                        <div>
                            <div *ngFor="let category of Categorieslist" class="CategoryItem d-inline-block m-1">
                                <div (click)="SearchingWithCategory(category)">
                                    <div class="center-elements">
                                        <img class="h-50px w-40px img-fluid" [src]="category.CategoryImg" alt="Item1">
                                    </div>
                                    <div class="center-elements align-items-start">
                                        <p class="fs-13px fw-bold">{{category.CategoryName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-100 w-60 d-flex align-items-center d-lg-flex d-none">
            <app-home-dropdown></app-home-dropdown>
            <app-shop-dropdown></app-shop-dropdown>
            <app-pages-dropdown></app-pages-dropdown>
            <app-venders-dropdown></app-venders-dropdown>
            <app-blog-dropdown></app-blog-dropdown>
            <div>
                <div class="dropdown NavItemHoverArrowAnimate">
                    <a class="text-decoration-none fs-15px fw-semibold Text-Black HoverTeal" [routerLink]="['contact']">
                        Contact us</a>
                </div>
            </div>
        </div>
        <div class="h-100 w-auto center-elements d-lg-flex d-none">
            <div>
                <p class="fw-semibold fs-14px">Need Any Help! Call Us</p>
                <a class="text-decoration-none ContactNumber" href="#">+(2) 76576xzxzx</a>
            </div>
        </div>
        <div class="d-lg-none d-md-flex d-sm-flex">
            <img class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions" style="height: 70px;" src="images/hamburger.png"
                alt="hamburger">
        </div>
        <div class="offcanvas offcanvas-start w-75" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <app-logo></app-logo>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <app-home-dropdown></app-home-dropdown>
                <hr>
                <app-shop-dropdown></app-shop-dropdown>
                <hr>
                <app-pages-dropdown></app-pages-dropdown>
                <hr>
                <app-venders-dropdown></app-venders-dropdown>
                <hr>
                <app-blog-dropdown></app-blog-dropdown>
                <hr>
                <div class="ms-1">
                    <div class="NavItemHoverArrowAnimate mx-2">
                        <a class="text-decoration-none fs-15px fw-semibold Text-Black HoverTeal"
                            [routerLink]="['contact']">
                            Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>