#WholeNavBarDiv {
    box-shadow: 5px 1px 30px rgb(213, 217, 218);
}

.bg-teal {
    background-color: #1c799b;
}

.tealbar-text {
    font-size: 13.5px;

}

.SearchInput {
    border: 0 !important;
    outline: 0 !important;
    font-size: 13px;
    font-family: cursive;
}

.SearchIconDiv {
    background-color: #1c799b;
    border-radius: 5px;
}

.fs-14px {
    font-size: 14px;
}

.fs-13px {
    font-size: 13px;
}

/* .HoverTeal {
    width: auto;
} */



.BrowseCategories {
    background-color: #2abc79;
    border-radius: 5px;
    /* height: 300px; */
}

.CategoryMenu {
    height: 270px;
    width: 400px;
}


.h-10px {
    height: 10px;
}


.Arrow:hover {
    animation: ArrowMove 1s;
}

.ContactNumber {
    color: #1c799b;
    font-weight: bold;
}

.OpenDropDownOnLeft:hover>.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
}

.CategoryItem {
    width: 110px;
    border: 1px solid transparent;
}

.CategoryItem:hover {
    background-color: #2a9bc538;
    border-radius: 5px;
    border: 1px solid #2a9cc574;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 575px) {
    .NavbarTealPart {
        height: 30%;
    }
}

@media screen and (min-width: 576px) {
    .NavbarTealPart {
        height: 30%;
    }
}

@media screen and (min-width: 768px) {
    .NavbarTealPart {
        height: 15%;
    }
}

@media screen and (min-width: 992px) {
    .NavbarTealPart {
        height: 15%;
    }
}

@media screen and (min-width: 1200px) {
    .NavbarTealPart {
        height: 20%;
    }
}

@media screen and (min-width: 1400px) {
    .NavbarTealPart {
        height: 20%;
    }
}