<div id="WholeNavBarDiv">
    <!-- UPPER PART OF THE TAEL COLOR SHOWING THE TIMER ------------------- -->
    <div class="h-15 bg-teal">
        <div class="h-100 w-100 d-flex justify-content-around align-items-center">
            <div class="w-auto center-elements">
                <h6 class="t-white tealbar-text">Untill the sale ends : </h6>
                <countdown class="t-white tealbar-text ms-1" [config]="{leftTime: 360000000, format: ' dd HH:mm:ss'}">
                </countdown>

            </div>
            <div class="h-100 w-40 justify-content-center align-items-center d-lg-flex d-none">
                <p class="t-white tealbar-text">Buy one get one free on</p>
                <p class="tealbar-text mx-1 text-warning">first order | </p>
                <img class="h-50 m-0 p-0 " src="images/white-truck.png" alt="deliverytruck">
                <p class="t-white tealbar-text"> Track your order</p>
            </div>
            <div class="w-auto center-elements">
                <p class="t-white tealbar-text mx-2 d-lg-flex d-none">Order Tracking</p>
                <p class="t-white tealbar-text mx-2 d-lg-flex d-none">About us</p>
                <div class="dropdown NavItemHoverArrowAnimate">
                    <button class="t-white tealbar-text mx-2 btn dropdown-toggle center-elements" type="button"
                        data-bs-toggle="dropdown">
                        <p class="t-white">Eng</p>
                        <img class="h-10px mx-1 Arrow" src="images/down-white.png" alt="dropdownarrow">
                    </button>
                    <ul class="dropdown-menu ">
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto  mt-auto mb-auto mx-1" src="images/flag.png" alt="indianflag">
                                <p>Hindi</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/united-kingdom.png"
                                    alt="indianflag">
                                <p>English</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/spain.png" alt="indianflag">
                                <p>Spanish</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/france.png"
                                    alt="indianflag">
                                <p>French</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/japan.png" alt="indianflag">
                                <p>Japnese</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown NavItemHoverArrowAnimate">
                    <button class="t-white tealbar-text mx-2 btn dropdown-toggle center-elements" type="button"
                        data-bs-toggle="dropdown">
                        <p class="t-white">USD</p>
                        <img class="h-10px mx-1 Arrow" src="images/down-white.png" alt="dropdownarrow">
                    </button>
                    <ul class="dropdown-menu ">
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto  mt-auto mb-auto mx-1" src="images/flag.png" alt="indianflag">
                                <p>Hindi</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/united-kingdom.png"
                                    alt="indianflag">
                                <p>English</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/spain.png" alt="indianflag">
                                <p>Spanish</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/france.png"
                                    alt="indianflag">
                                <p>French</p>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex" href="#">
                                <img class="h-20px w-auto mt-auto mb-auto mx-1" src="images/japan.png" alt="indianflag">
                                <p>Japnese</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- SEARCH BAR WITH THE LOGO OF THE GROCERY SHOP ------------------------ -->
    <div class="h-50 d-flex justify-content-around align-items-center">
        <div class="h-100 w-auto center-elements justify-content-start">
            <img class="h-50" src="images/fruits-and-vegetables.png" alt="fruits-and-vegetables">
            <p class="mx-1" id="Logo">MarketPro</p>
        </div>
        <div class="h-100 w-60 center-elements p-2 d-lg-flex d-none">
            <div class="h-60 w-100 SearchCard center-elements">
                <div class="w-20 h-100">
                    <div class="dropdown h-100 w-100 center-elements">
                        <p class="btn dropdown-toggle fs-14px" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            All caterogies |
                        </p>
                        <ul class="dropdown-menu" style="height: 200px; overflow-y: auto;">
                            <li><a class="dropdown-item" href="#">All categories</a></li>
                            <li><a class="dropdown-item" href="#">Grocery</a></li>
                            <li><a class="dropdown-item" href="#">Breakfast and Dairy</a></li>
                            <li><a class="dropdown-item" href="#">Vegetables</a></li>
                            <li><a class="dropdown-item" href="#">Milk and Dairies</a></li>
                            <li><a class="dropdown-item" href="#">Pet foods and Toy </a></li>
                            <li><a class="dropdown-item" href="#">Bread and Bakery</a></li>
                            <li><a class="dropdown-item" href="#">Fresh seafood </a></li>
                            <li><a class="dropdown-item" href="#">Frozen Foods</a></li>
                            <li><a class="dropdown-item" href="#">Noodles and Rice</a></li>
                            <li><a class="dropdown-item" href="#">ice Cream</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w-70 h-100 center-elements">
                    <input class="w-100 bg-transparent SearchInput" type="text"
                        placeholder="Search for product caterogies and brands...">
                </div>
                <div class="w-10 h-100">
                    <div class="SearchIconDiv h-80 m-1 center-elements">
                        <img class="h-50" src="images/search-white.png" alt="searchIcon">
                    </div>
                </div>
            </div>
        </div>
        <div class="h-100 w-20 d-flex justify-content-around align-items-center">
            <div class="h-100 center-elements d-sm-flex d-md-flex d-lg-none">
                <img class="h-15 mx-1" src="images/searchIcon.png" alt="profileIcon">
            </div>
            <a class="text-decoration-none fs-14px HoverTeal fw-semibold text-black" [routerLink]="['profile']">
                <div class="h-100 center-elements">
                    <img class="h-20px mx-1" src="images/profile-outline.png" alt="profileIcon">
                    <p class="HoverTeal d-lg-flex d-none">Profile</p>
                </div>
            </a>
            <a class="text-decoration-none fs-14px HoverTeal fw-semibold text-black" [routerLink]="['wishlist']">
                <div class="h-100 center-elements">
                    <img class="h-20px mx-1" src="images/profile-outline.png" alt="profileIcon">
                    <p class="HoverTeal d-lg-flex d-none">Wishlist</p>
                </div>
            </a>
            <a class="text-decoration-none fs-14px HoverTeal fw-semibold text-black" [routerLink]="['cart']">
                <div class="h-100 center-elements">
                    <img class="h-20px mx-1" src="images/profile-outline.png" alt="profileIcon">
                    <p class="HoverTeal d-lg-flex d-none">cart</p>
                </div>
            </a>
        </div>
    </div>
    <hr class="m-0">
    <!-- BROWSING CATEGORIES AND PAGES NAVIGATION  -->
    <div class="h-35 d-flex justify-content-around">
        <div class="h-100 w-auto center-elements">
            <div class="BgHoverGreen h-70 w-100 BrowseCategories dropdown center-elements p-3">
                <button class="btn m-0 p-0 h-100 w-100 center-elements dropdown-toggle t-white" type="button"
                    data-bs-toggle="dropdown">
                    <img class="h-75 me-1" src="images/categories-white.png" alt="categories">
                    <p class="t-white fs-14px">Browse Categories</p>
                    <img class="h-75 mx-1 Arrow" src="images/down-white.png" alt="dropdownarrow">
                </button>
                <div class="dropdown-menu m-0 p-2 CategoryMenu">
                    <div class="container-fluid h-100">
                        <div class="row h-33">
                            <div class="col CategoryItem h-100">
                                <div class="center-elements h-60 w-100">
                                    <img class="h-80" src="images/vegetable.png" alt="Item1">
                                </div>
                                <div class="center-elements align-items-start h-60 w-100">
                                    <p class="fs-13px fw-bold">Vegetables</p>
                                </div>
                            </div>
                            <div class="col CategoryItem h-100">
                                <div class="center-elements h-60 w-100">
                                    <img class="h-80" src="images/milk.png" alt="Item1">
                                </div>
                                <div class="center-elements align-items-start h-60 w-100">
                                    <p class="fs-13px fw-bold">Milk & Cake</p>
                                </div>
                            </div>
                            <div class="col CategoryItem h-100">
                                <div class="center-elements h-60 w-100">
                                    <img class="h-80" src="images/shopping-bag.png" alt="Item1">
                                </div>
                                <div class="center-elements align-items-start h-60 w-100">
                                    <p class="fs-13px fw-bold">Grocery</p>
                                </div>
                            </div>
                        </div>
                        <div class="row h-33">
                            <div class="col CategoryItem h-100">
                                <div class="center-elements h-60 w-100">
                                    <img class="h-80" src="images/beauty-product.png" alt="Item1">
                                </div>
                                <div class="center-elements align-items-start h-60 w-100">
                                    <p class="fs-13px fw-bold">Beauty</p>
                                </div>
                            </div>
                            <div class="col CategoryItem h-100">
                                <div class="center-elements h-60 w-100">
                                    <img class="h-80" src="images/drinking.png" alt="Item1">
                                </div>
                                <div class="center-elements align-items-start h-60 w-100">
                                    <p class="fs-13px fw-bold">Wine And Drinks</p>
                                </div>
                            </div>
                            <div class="col CategoryItem h-100">
                                <div class="center-elements h-60 w-100">
                                    <img class="h-80" src="images/fast-food.png" alt="Item1">
                                </div>
                                <div class="center-elements align-items-start h-60 w-100">
                                    <p class="fs-13px fw-bold">Snacks</p>
                                </div>
                            </div>
                        </div>
                        <div class="row h-33">
                            <div class="col CategoryItem h-100">
                                <div class="center-elements h-60 w-100">
                                    <img class="h-80" src="images/orange-juice.png" alt="Item1">
                                </div>
                                <div class="center-elements align-items-start h-60 w-100">
                                    <p class="fs-13px fw-bold">Juice</p>
                                </div>
                            </div>
                            <div class="col CategoryItem h-100">
                                <div class="center-elements h-60 w-100">
                                    <img class="h-80" src="images/fruit.png" alt="Item1">
                                </div>
                                <div class="center-elements align-items-start h-60 w-100">
                                    <p class="fs-13px fw-bold">Fruits</p>
                                </div>
                            </div>
                            <div class="col CategoryItem h-100">
                                <div class="center-elements h-60 w-100">
                                    <img class="h-80" src="images/tea-time.png" alt="Item1">
                                </div>
                                <div class="center-elements align-items-start h-60 w-100">
                                    <p class="fs-13px fw-bold">Tea and Coffee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-100 w-60 d-flex align-items-center d-lg-flex d-none">
            <div>
                <div class="dropdown NavItemHoverArrowAnimate">
                    <button class="btn dropdown-toggle center-elements" type="button" data-bs-toggle="dropdown">
                        <p class="fs-14px HoverTeal fw-semibold">Home</p>
                        <img class="h-10px mx-1 Arrow" src="images/down-grey.png" alt="dropdownarrow">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/']">Home Grocery</a></li>
                        <li><a class="dropdown-item" href="#">Home Electronics</a></li>
                        <li><a class="dropdown-item" href="#">Home Fashion</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="dropdown NavItemHoverArrowAnimate">
                    <button class="btn dropdown-toggle center-elements" type="button" data-bs-toggle="dropdown">
                        <p class="fs-14px HoverTeal fw-semibold">Shop</p>
                        <img class="h-10px mx-1 Arrow" src="images/down-grey.png" alt="dropdownarrow">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Shop</a></li>
                        <li><a class="dropdown-item" href="#">Shop Details</a></li>
                        <li><a class="dropdown-item" href="#">Shop Details Two</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="dropdown NavItemHoverArrowAnimate">
                    <button class="btn dropdown-toggle center-elements" type="button" data-bs-toggle="dropdown">
                        <p class="fs-14px HoverTeal fw-semibold">Pages</p>
                        <img class="h-10px mx-1 Arrow" src="images/down-grey.png" alt="dropdownarrow">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Cart</a></li>
                        <li><a class="dropdown-item" href="#">Wishlist</a></li>
                        <li><a class="dropdown-item" href="#">Checkout</a></li>
                        <li><a class="dropdown-item" href="#">Become Seller</a></li>
                        <li><a class="dropdown-item" [routerLink]="['profile']">Account</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="dropdown NavItemHoverArrowAnimate">
                    <button class="btn dropdown-toggle center-elements" type="button" data-bs-toggle="dropdown">
                        <p class="fs-14px HoverTeal fw-semibold">Vendor</p>
                        <img class="h-10px mx-1 Arrow" src="images/down-grey.png" alt="dropdownarrow">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Vendor</a></li>
                        <li><a class="dropdown-item" href="#">Vendor Details</a></li>
                        <li><a class="dropdown-item" href="#">Vendor Two</a></li>
                        <li><a class="dropdown-item" href="#">Vendor Two Details</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="dropdown NavItemHoverArrowAnimate">
                    <button class="btn dropdown-toggle center-elements" type="button" data-bs-toggle="dropdown">
                        <p class="fs-14px HoverTeal fw-semibold">Blog</p>
                        <img class="h-10px mx-1 Arrow" src="images/down-grey.png" alt="dropdownarrow">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Blog</a></li>
                        <li><a class="dropdown-item" href="#">Blog Details</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="dropdown NavItemHoverArrowAnimate">
                    <!-- <button class="btn dropdown-toggle center-elements" type="button" data-bs-toggle="dropdown"> -->
                    <a class="text-decoration-none fs-14px HoverTeal fw-semibold text-black" [routerLink]="['contact']">
                        Contact us</a>
                    <!-- </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="h-100 w-auto center-elements">
            <div>
                <p class="fw-semibold fs-14px">Need Any Help! Call Us</p>
                <a class="text-decoration-none ContactNumber" href="#">+(2) 76576xzxzx</a>
            </div>
            <div class="d-lg-none d-md-flex d-sm-flex">
                <img class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                    aria-controls="offcanvasWithBothOptions" style="height: 70px;" src="images/hamburger.png"
                    alt="hamburger">
            </div>
            <div class="offcanvas offcanvas-start w-75" data-bs-scroll="true" tabindex="-1"
                id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                </div>
            </div>
        </div>
    </div>
</div>