<div>
    <!-- BLUE HEADING ------------- AND PAGE NAVIGATION TO THE HOME PAGE BAR  -->
    <div class="h-100px Bg-LightBlue p-2">
        <div class="d-flex h-100 justify-content-between align-items-center">
            <h5>Blog</h5>
            <div class="d-flex align-items-center">
                <a class="text-decoration-none text-black" [routerLink]="['/']">
                    <div class="d-flex align-items-center">
                        <img class="h-15px mx-1" src="images/home.png" alt="home">
                        <p class="fs-12px fw-semibold">Home</p>
                    </div>
                </a>
                <div class="d-flex align-items-center ">
                    <img class="h-20px mx-2" src="images/arrow.png" alt="home">
                    <p class="TextTeal fs-12px fw-semibold">blog</p>
                </div>
            </div>
        </div>
    </div>
    <!-- MAIN PAGE OF THE BLOG ------------------------------------------------->
    <div class="my-3 px-2">
        <div class="row g-0 m-0 p-0 ">
            <div class="col-lg-8 col-md-9 col-sm-12 py-3 px-2">
                <img class="h-400px rounded-4 mb-4 img-fluid" src="images/BlogBg.jpg" alt="Blog image">
                <div class="h-30px w-100px Bg-SkyBlue mb-3 rounded-3 center-elements TextTeal">
                    Gadgets
                </div>
                <h4 class="fw-bold">Nice decoration make be distilled to a single house</h4>
                <br>
                <p>A great commerce experience cannot be distilled to a single number. It's not a Lighthouse score, or a
                    set of Core Web Vitals figures, although both are important inputs. A great commerce experience is a
                    trilemma that carefully balances competing needs of delivering great customer experience, dynamic
                    storefront capabilities, and long-term business — conversion, retention, re-engagement — objectives.
                    As developers, we rightfully obsess about the customer experience, relentlessly working to squeeze
                    every millisecond out of the critical rendering path, optimize input latency, and eliminate jank. At
                    the limit, statically generated, edge delivered, and HTML-first pages look like the optimal
                    strategy. That is until you are confronted with the realization that the next step function in
                    improving conversion rates and business.</p>
                <br><br>
                <p>Re-engagement — objectives. As developers, we rightfully obsess about the customer experience,
                    relentlessly working to squeeze every millisecond out of the critical rendering path, optimize input
                    latency, and eliminate...</p>
                <hr class="mt-5 mb-3">
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex TextTeal">
                        <svg class="mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                        </svg>
                        <p class="fs-12px text-body-secondary">
                            July 12, 2025
                        </p>
                    </div>
                    <div class="d-flex TextTeal mx-3">
                        <svg class="mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z" />
                        </svg>

                        <p class="fs-12px text-body-secondary">
                            0 comments
                        </p>
                    </div>
                </div>
                <div class="row g-0 p-0 m-0 ">
                    <div class="col-lg-6 col-md-6 col-sm-12 h-400px my-3 center-elements">
                        <img class="h-100 img-fluid" src="images/blog1.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 h-400px my-3 center-elements">
                        <img class="h-100 img-fluid" src="images/blog2.jpg" alt="">
                    </div>
                </div>
                <p class="mt-5">A great commerce experience cannot be distilled to a single number. It’s not a
                    Lighthouse score, or a
                    set of Core Web Vitals figures, although both are important inputs. A great commerce experience is a
                    trilemma that carefully balances competing needs of delivering great customer experience, dynamic
                    storefront capabilities, and long-term business.</p>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 py-3 px-4">
                <div class="h-200px Bordergrey rounded-3 d-flex align-items-center">
                    <div class="h-auto w-100 p-3">
                        <p class="fw-bold">Search here</p>
                        <hr class="my-3">
                        <div class="center-elements">
                            <input class="bg-body-secondary border-0  outline-0  rounded-start-3 h-50px w-90 px-3"
                                placeholder="Searching.." type="text">
                            <div class="Search h-50px rounded-end-3 BgTeal w-50px center-elements">
                                <img class="h-20px" src="images/search-white.png" alt="search icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Bordergrey rounded-3 my-3 px-3">
                    <div class="h-auto w-100 p-3">
                        <p class="fw-bold">Recent Posts</p>
                        <hr class="my-3">
                    </div>
                    <div class="h-130px d-flex align-items-center">
                        <img class="h-100px w-100px rounded-3" src="images/post1.jpg" alt="">
                        <div class="ms-4">
                            <h6 class="mb-4 fw-bold">Once determine you need to come up with a name </h6>
                            <div class="d-flex TextTeal">
                                <svg class="mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                                </svg>
                                <p class="fs-12px text-body-secondary">
                                    July 12, 2025
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="h-130px d-flex align-items-center">
                        <img class="h-100px w-100px rounded-3" src="images/post2.jpg" alt="">
                        <div class="ms-4">
                            <h6 class="mb-4 fw-bold">Another post title goes here </h6>
                            <div class="d-flex TextTeal">
                                <svg class="mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                                </svg>
                                <p class="fs-12px text-body-secondary">
                                    July 12, 2025
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="h-130px d-flex align-items-center">
                        <img class="h-100px w-100px rounded-3" src="images/post3.jpg" alt="">
                        <div class="ms-4">
                            <h6 class="mb-4 fw-bold">Interesting article title here</h6>
                            <div class="d-flex TextTeal">
                                <svg class="mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                                </svg>
                                <p class="fs-12px text-body-secondary">
                                    July 12, 2025
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="h-130px d-flex align-items-center">
                        <img class="h-100px w-100px rounded-3" src="images/post4.jpg" alt="">
                        <div class="ms-4">
                            <h6 class="mb-4 fw-bold">Useful info in this blog page </h6>
                            <div class="d-flex TextTeal">
                                <svg class="mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                                </svg>
                                <p class="fs-12px text-body-secondary">
                                    July 12, 2025
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Bordergrey rounded-3 my-3">
                    <div class="h-auto w-100 p-3">
                        <p class="fw-bold">Categories</p>
                        <hr class="my-3">
                        <div
                            class="w-100 h-50px Bordergrey rounded-2 d-flex align-items-center justify-content-between my-2">
                            <p class="ms-4 text-body-secondary">Gaming(12)</p>
                            <div class="h-90 w-50px Bg-SkyBlue rounded-3 center-elements TextTeal">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1" d="M19 12H5m14 0-4 4m4-4-4-4" />
                                </svg>

                            </div>
                        </div>
                        <div
                            class="w-100 h-50px Bordergrey rounded-2 d-flex align-items-center justify-content-between my-2">
                            <p class="ms-4 text-body-secondary">Smart Gadget(97)</p>
                            <div class="h-90 w-50px Bg-SkyBlue rounded-3 center-elements TextTeal">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1" d="M19 12H5m14 0-4 4m4-4-4-4" />
                                </svg>

                            </div>
                        </div>
                        <div
                            class="w-100 h-50px Bordergrey rounded-2 d-flex align-items-center justify-content-between my-2">
                            <p class="ms-4 text-body-secondary">Software(09)</p>
                            <div class="h-90 w-50px Bg-SkyBlue rounded-3 center-elements TextTeal">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1" d="M19 12H5m14 0-4 4m4-4-4-4" />
                                </svg>

                            </div>
                        </div>
                        <div
                            class="w-100 h-50px Bordergrey rounded-2 d-flex align-items-center justify-content-between my-2">
                            <p class="ms-4 text-body-secondary">Electronics(20)</p>
                            <div class="h-90 w-50px Bg-SkyBlue rounded-3 center-elements TextTeal">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1" d="M19 12H5m14 0-4 4m4-4-4-4" />
                                </svg>

                            </div>
                        </div>
                        <div
                            class="w-100 h-50px Bordergrey rounded-2 d-flex align-items-center justify-content-between my-2">
                            <p class="ms-4 text-body-secondary">Laptop(23)</p>
                            <div class="h-90 w-50px Bg-SkyBlue rounded-3 center-elements TextTeal">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1" d="M19 12H5m14 0-4 4m4-4-4-4" />
                                </svg>

                            </div>
                        </div>
                        <div
                            class="w-100 h-50px Bordergrey rounded-2 d-flex align-items-center justify-content-between my-2">
                            <p class="ms-4 text-body-secondary">Mobile and Accesories (76)</p>
                            <div class="h-90 w-50px Bg-SkyBlue rounded-3 center-elements TextTeal">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1" d="M19 12H5m14 0-4 4m4-4-4-4" />
                                </svg>

                            </div>
                        </div>
                        <div
                            class="w-100 h-50px Bordergrey rounded-2 d-flex align-items-center justify-content-between my-2">
                            <p class="ms-4 text-body-secondary">Appliance(7)</p>
                            <div class="h-90 w-50px Bg-SkyBlue rounded-3 center-elements TextTeal">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1" d="M19 12H5m14 0-4 4m4-4-4-4" />
                                </svg>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BLUE SUPPORT LINE COMPONENT ------------------------------------------->
    <app-support-line></app-support-line>
</div>