<ngx-slick-carousel class="w-100" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let category of CategoriesList">
        <div class="mx-2" (click)="SearchViaParticularCategory(category)" aria-hidden="false">
            <div [style.background]="category.BgColor"  class="CircleOfCategories center-elements">
                <img class="CategoryImages" [src]="category.CategoryImg" alt="Images of categories">
            </div>
            <p class="d-flex justify-content-center fw-semibold fs-6">{{category.CategoryName}}</p>
             <p class="d-flex justify-content-center fs-13px text-secondary">125+ products</p>
        </div>
    </div>
</ngx-slick-carousel>





<!-- <div class="DivOfCarousel center-elements">
    <div class="MainDIvOfCarousel">
        <div class="CarouselSlideDiv center-elements">
            <div class="mx-2" *ngFor="let products of CategoriesList">
                <div [style.background]="products.BgColor" class="CircleOfCategories center-elements">
                    <img class="CategoryImages" [src]="products.CategoryImg" alt="Images of categories">
                </div>
                <div class="center-elements">
                    <h6>{{products.CategoryName}}</h6>
                </div>
                <div class="center-elements">
                    <p style="font-size: 12px;">Products left</p>
                </div>
            </div>

        </div>
    </div>
</div> -->