<ngx-slick-carousel class="w-100" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let category of CategoriesList">
        <div class="mx-2" (click)="SearchViaParticularCategory(category)" aria-hidden="false">
            <div [style.background]="category.BgColor"  class="CircleOfCategories center-elements">
                <img class="CategoryImages" [src]="category.CategoryImg" alt="Images of categories">
            </div>
            <p class="d-flex justify-content-center fw-semibold fs-6">{{category.CategoryName}}</p>
             <p class="d-flex justify-content-center fs-12px text-secondary">125+ products</p>
        </div>
    </div>
</ngx-slick-carousel>
