
.CircleOfCategories {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.CategoryImages{
    height: 50px;
    width: auto;
    transition: height 0.5s;
}
.CategoryImages:hover {
    height: 65px;
}
