.DivOfCarousel {
    width: 100%;
    /* background: #000; */
}
.DivOfCardAfterCarousel{
    height: 250px !important;
}
.MainDIvOfCarousel {
    height: 30vh;
    width: 90vw;
    /* box-shadow: inset 5px 0 50px rgb(38, 14, 14); */
    overflow-x: auto;
}

.CarouselSlideDiv {
    width: 130vw;
    height: 100%;
    /* box-shadow: inset 5px 5px 30px rgb(20, 20, 20); */
    
}   

.MainDIvOfCarousel::-webkit-scrollbar {
    display: none;
}

.CircleOfCategories {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.CategoryImages{
    height: 55px;
    width: auto;
    transition: height 0.5s;
}
.CategoryImages:hover {
    height: 80px;
}

.AddAfterCarousel{
    height: 50vh;
    width: 100%;
    /* background: #000; */

}
.AddCard{
    /* background-color: blue; */
    height: 200px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
.ShopNowbutton{
    background: #1c799b;
    border-radius: 30px;
    height: 40px;
    width: 130px;
}
.carousel {
  /* width: 90%; */
  display: flex;
  margin: auto;
}
@media screen and (max-width: 640px) {
 .AddAfterCarousel{
    height: 110vh;
 }
}
@media screen and (min-width: 640px) {
 .AddAfterCarousel{
    height: 80vh;
 }
}
@media screen and (min-width: 1007px) {
 .AddAfterCarousel{
    height: 50vh;
 }
}
@media screen and (min-width: 1400px) {
 .AddAfterCarousel{
    height: 50vh;
 }
}