/* .ItemsInCartDiv {
    height: 100vh;
} */

.ExtraWidthItemsDiv {
    width: 1200px;
    /* height: 100vh; */
}

.DivOfOverflow {
    overflow-x: scroll;
    scrollbar-color: rgb(33, 33, 33);
}

.DivOfOverflow::-webkit-scrollbar {
    /* width: 10px; */
    height: 5px;
    background-color: rgb(236, 236, 236);

}
::-webkit-scrollbar-thumb {
  background: rgb(190, 189, 189); 
  border-radius: 10px;
}
.DeleteDiv {
    width: 1500px;
}