<div>
    <div class="dropdown NavItemHoverArrowAnimate">
        <button class="btn dropdown-toggle center-elements position-relative" type="button" data-bs-toggle="dropdown">
            <p class="HoverTeal fw-semibold">Pages</p>
            <img class="h-10px mx-1 Arrow" src="images/down-grey.png" alt="dropdownarrow">
            <div class="position-absolute h-25px bg-warning w-50px rounded-2 text-white mb-5 Bulb">New</div>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['cart']">Cart</a></li>
            <li><a class="dropdown-item" [routerLink]="['wishlist']">Wishlist</a></li>
            <li><a class="dropdown-item" href="#">Checkout</a></li>
            <li><a class="dropdown-item" href="#">Become Seller</a></li>
            <li><a class="dropdown-item" [routerLink]="['profile']">Account</a></li>
        </ul>
    </div>
</div>