<div>
    <div class="dropdown NavItemHoverArrowAnimate">
        <button class="btn dropdown-toggle center-elements position-relative" type="button" data-bs-toggle="dropdown">
            <p class="HoverTeal fw-semibold">Vendor</p>
            <img class="h-10px mx-1 Arrow" src="images/down-grey.png" alt="dropdownarrow">
            <div class="position-absolute h-25px Bg-Purple w-50px rounded-2 text-white mb-5 Bulb">New</div>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['vendor']">Vendor</a></li>
            <li><a class="dropdown-item" href="#">Vendor Details</a></li>
            <li><a class="dropdown-item" href="#">Vendor Two</a></li>
            <li><a class="dropdown-item" href="#">Vendor Two Details</a></li>
        </ul>
    </div>
</div>