<div class="MainProfileDiv">
    <div class="h-100px Bg-LightBlue p-2">
        <div class="d-flex h-100 justify-content-between align-items-center">
            <h5>Profile</h5>
            <div class="d-flex align-items-center">
                <a class="text-decoration-none text-black" [routerLink]="['/']">
                    <div class="d-flex align-items-center">
                        <img class="h-15px mx-1" src="images/home.png" alt="home">
                        <p class="fs-12px fw-semibold">Home</p>
                    </div>
                </a>
                <div class="d-flex align-items-center ">
                    <img class="h-20px mx-2" src="images/arrow.png" alt="home">
                    <p class="TextTeal fs-12px fw-semibold">Profile</p>
                </div>
            </div>
        </div>
    </div>
    <div class="h-600px center-elements">
        <img class="img-fluid h-500px" src="images/Questions-amico.png" alt="">
    </div>
    <div class="h-50px center-elements">
        <h3 class="TextTeal">Oops ! No Profile found</h3>
    </div>
    <div class="h-50px center-elements">
        <div class="RegisterButton h-50px w-120px center-elements rounded-3 text-white" data-bs-toggle="modal"
            data-bs-target="#RegisterModal">Register Now</div>
        <!-- Modal -->
        <div class="modal p-3 " id="RegisterModal" tabindex="-1" aria-labelledby="RegisterModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content overflow-y-auto p-4 py-5">
                    <div class="center-elements">
                        <app-logo></app-logo>
                    </div>
                    <div class="my-3">
                        <h5>Register</h5>
                    </div>
                    <div class="my-3">
                        <h5>Username</h5>
                        <input class="h-50px w-100 Bordergrey rounded-3 my-2 p-2" type="text"
                            placeholder="Write a Username ">
                    </div>
                    <div class="my-3">
                        <h5>Email address</h5>
                        <input class="h-50px w-100 Bordergrey rounded-3 my-2 p-2" type="text"
                            placeholder="Enter email address">
                    </div>
                    <div class="my-3">
                        <h5>Password</h5>
                        <input class="h-50px w-100 Bordergrey rounded-3 my-2 p-2" type="password"
                            placeholder="Write a Username ">
                    </div>
                    <div class="my-3">
                        <p>Your personal data will be used to process your order, support your experience throughout
                            this website, and for other purposes described in our<a href="#"> privacy policy</a></p>   
                    </div>
                    <div class="center-elements my-4">
                        <button class="btn w-120px center-elements BgTeal text-white">
                            Register
                        </button>
                    </div>
                    <div class="my-3 center-elements">
                        <p>Already have an account ? <a href="#">Login</a></p>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-support-line></app-support-line>