.MainProfileDiv{
    height: 130vh;
}
.RegisterButton{
    background-color: #1c799b;
}
.RegisterButton:hover{
    background-color: #165c75;
}
/* .ModalStyle{
    max-width: 600px;dialog
    height: 800px;
} */
.modal-content::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 575px) {
    .ModalStyle{
    width: 80vw ;
    height: 80vh ;
}
}

@media screen and (min-width: 576px) {
    .ModalStyle{
    width: 300px ;
    height: 700px ;
}
}

@media screen and (min-width: 768px) {
    .ModalStyle{
    max-width: 600px;
    height: 700px;
}
}

@media screen and (min-width: 992px) {
    .ModalStyle{
    width: 600px;
    /* background-color: rebeccapurple; */
    height: 700px;
}
}

@media screen and (min-width: 1200px) {
    .ModalStyle{
    width: 600px;
    height: 700px;
}
}

@media screen and (min-width: 1400px) {
    .ModalStyle{
    width: 650px;
    height: 650px;
    overflow-x: auto;
}
}