<div class="AddAfterCarousel mt-5">
    <div class="row d-flex m-0 p-0 gx-0">
        <div class="col-lg-3 DivOfCardAfterCarousel col-md-5 col-sm-12 p-1 my-2 d-flex BottomToTop">
            <div style="background-image: url('images/B1.png');" class="BgImage h-100 w-100 p-5 rounded-3">
                <h5 class="w-75 italic">Everyday Fresh Meat</h5>
                <div class="d-flex my-4">
                    <p class="italic">Starting at</p>
                    <p class="mx-2 fw-bold text-danger">₹59.99</p>
                </div>
                <div class="ShopNowbutton center-elements">
                    <h6 class="text-white">Shop Now</h6>
                    <img class="h-20px ms-2" src="images/white-arrow-right.png" alt="arrow">
                </div>
            </div>
        </div>
        <div class="col-lg-3 DivOfCardAfterCarousel col-md-5 col-sm-12 p-1 my-2 d-flex BottomToTop">
            <div style="background-image: url('images/B2.png');" class="BgImage h-100 w-100 p-5 rounded-3">
                <h5 class="w-75 italic">Everyday Fresh Vegetables</h5>
                <div class="d-flex my-4">
                    <p class="italic">Starting at</p>
                    <p class="mx-2 fw-bold text-danger">₹59.99</p>
                </div>
                <div class="ShopNowbutton center-elements">
                    <h6 class="text-white">Shop Now</h6>
                    <img class="h-20px ms-2" src="images/white-arrow-right.png" alt="arrow">
                </div>
            </div>
        </div>
        <div class="col-lg-3 DivOfCardAfterCarousel col-md-5 col-sm-12 p-1 my-2 d-flex BottomToTop">
            <div style="background-image: url('images/B3.png');" class="BgImage h-100 w-100 p-5 rounded-3 ">
                <h5 class="w-75 italic">Everyday Fresh  Milk </h5>
                <div class="d-flex my-4">
                    <p class="italic">Starting at</p>
                    <p class="mx-2 fw-bold text-danger">₹59.99</p>
                </div>
                <div class="ShopNowbutton center-elements">
                    <h6 class="text-white">Shop Now</h6>
                    <img class="h-20px ms-2" src="images/white-arrow-right.png" alt="arrow">
                </div>
            </div>
        </div>
        <div class="col-lg-3 DivOfCardAfterCarousel col-md-5 col-sm-12 p-1 my-2 d-flex BottomToTop">
            <div style="background-image: url('images/B4.png');" class="BgImage h-100 w-100 p-5 rounded-3 ">
                <h5 class="w-75 italic">Everyday Fresh Fruits</h5>
                <div class="d-flex my-4">
                    <p class="italic">Starting at</p>
                    <p class="mx-2 fw-bold text-danger">₹59.99</p>
                </div>
                <div class="ShopNowbutton center-elements">
                    <h6 class="text-white">Shop Now</h6>
                    <img class="h-20px ms-2" src="images/white-arrow-right.png" alt="arrow">
                </div>
            </div>
        </div>
    </div>
</div>