.FlashSalesCarouselDiv {
    height: 60vh;
    width: 95vw;
    overflow-x: auto;
}

.CarouselSlideDiv {
    width: 105vw;
    height: 100%;
}

.FlashSalesCarouselDiv::-webkit-scrollbar {
    display: none;
}

.HotDealsCarouselCard {
    height: 350px;
    width: 175px;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 10px;
}

.HotDealsCarouselCard:hover {
    border-color: #1c799b;
}

.ImageOfCard {
    height: 90px !important;
    transition: height 0.5s;
}

/* WHEN I HAVE TO GO HOVER WITH ANOTHER TRANSITION I WILL USE IT    --------------- */
.HotDealsCarouselCard:hover .ImageOfCard {
    height: 110px !important;
}

.CountDownDiv {
    border-radius: 10px;
}

.ShopNowbutton {
    background: #1c799b;
    border-radius: 30px;
    height: 40px;
    width: 130px;
}

.CountDownTimerDiv {
    /* background-color: #1c799b; */
    box-shadow: 1px 1px 20px rgb(188, 187, 187);
    border-radius: 5px;
    height: 35px;
    width: auto;
}

.DivOfBasket {
    height: 350px !important;
}

.DivOfCoupon {
    height: 100px;
    width: 100%;

}

.Coupon {
    border-radius: 10px;
    border: 1px dashed #1c799b;
    background: #e9ffff;
}


.BrandsImages {
    height: 130px;
    width: auto;
    transition: height 0.5s;
}
.h-380px{
    width: 380px;
}
.carousel {
    /* width: 90%; */
    display: flex;
    margin: auto;
}

.DivAfterHotDeal {
    height: 100vh;
}

.CardOfDealsCarousel {
    border-radius: 10px;
    border: 1px solid rgb(171, 170, 170);
}

.Subscribe {
    height: 52vh;
    background-color: #e6e6e6;
    border-radius: 15px;
}

.ProductProgressbar {
    /* height: 20/%; */
    background-color: #e8f4fc;
}

.CarouselSlide {
    height: 420px;
    width: 240px;
    /* background-color: #1c799b; */
}

.ImageContainer {
    height: 80px;
    width: 80px;
    border: 1px solid rgb(164, 162, 162);
}


.ImageOfCard {
    height: 160px;
    transition: height 0.5s;
}

/* WHEN I HAVE TO GO HOVER WITH ANOTHER TRANSITION I WILL USE IT    --------------- */
.CardOfDealsCarousel:hover .ImageOfCard {
    height: 190px;
}

.Hover-Success:hover {
    background-color: green !important;
}

.DivOfSellerCard {
    border: 1px solid rgb(176, 176, 176);
}

.ImageHover {
    height: 120px;
    transition: height 0.5s;
}


.DivOfSellerCard:hover .ImageHover {
    height: 130px;
}

@media screen and (max-width: 640px) {

    .FruitsImage {
        height: 130px;
    }

}

@media screen and (min-width: 640px) {

    .FruitsImage {
        height: 200px;
    }
}

@media screen and (min-width: 1007px) {

    .FruitsImage {
        height: 300px;
    }
}

@media screen and (min-width: 1400px) {
    .FruitsImage {
        height: 300px;
    }

}