@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

body {
    height: 100vh;
    background-color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    overflow-x: hidden !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin-bottom: 0;
}

hr {
    margin: 0px !important;
    padding: 0px !important;
}

input {
    outline: 0 !important;
    /* border: 0 !important; */
}

/* HEIGHT AND WIDTHS OF DIFFERENT SIZES USING  */

/* Heights in px */
.h-5px {
    height: 5px;
}

.h-10px {
    height: 10px;
}

.h-15px {
    height: 15px;
}

.h-20px {
    height: 20px;
}

.h-30px {
    height: 30px;
}

.h-40px {
    height: 40px;
}

.h-50px {
    height: 50px;
}

.h-60px {
    height: 60px;
}

.h-70px {
    height: 70px;
}

.h-75px {
    height: 75px;
}

.h-80px {
    height: 80px;
}

.h-100px {
    height: 100px;
}

.h-130px {
    height: 130px;
}

.h-150px {
    height: 150px;
}

.h-200px {
    height: 200px;
}

.h-250px {
    height: 250px;
}

.h-300px {
    height: 300px;
}

.h-400px {
    height: 400px;
}

.h-500px {
    height: 500px;
}

.h-520px {
    height: 520px;
}

.h-560px {
    height: 560px;
}

.h-600px {
    height: 600px;
}

.h-700px {
    height: 700px;
}

/* Heights in % */
.h-10 {
    height: 10%;
}

.h-15 {
    height: 15%;
}

.h-20 {
    height: 20%;
}

.h-30 {
    height: 30%;
}

.h-33 {
    height: 33.33%;
}

.h-35 {
    height: 35%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-70 {
    height: 70%;
}

.h-80 {
    height: 80%;
}

.h-85 {
    height: 85%;
}

.h-90 {
    height: 90%;
}

/* Widths in px */
.w-20px {
    width: 20px;
}

.w-50px {
    width: 50px;
}

.w-60px {
    width: 60px;
}

.w-75px {
    width: 75px;
}

.w-85px {
    width: 85px;
}

.w-100px {
    width: 100px;
}

.w-120px {
    width: 120px;
}

.w-150px {
    width: 150px;
}

.w-170px {
    width: 170px;
}

.w-200px {
    width: 200px;
}

.w-250px {
    width: 250px;
}

.w-300px {
    width: 300px;
}

.w-350px {
    width: 350px;
}
.w-400px{
    width: 400px;
}
.w-500px {
    width: 500px;
}


.w-900px {
    width: 900px;
}

.w-1500px {
    width: 1500px;
}

/* Widths in % */
.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

/* Centering Utility */
.center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FONTS AND TEXTS-------------------------------------------------------- */

.italic {
    font-style: italic;
}

.fs-7px {
    font-size: 7px;
}

.fs-10px {
    font-size: 10px;
}

.fs-12px {
    font-size: 12px;
}

.fs-13px {
    font-size: 1rem;
}

.fs-15px {
    font-size: 15px;
}

.fs-14px {
    font-size: 14px;
}


.text-green {
    color: #2abc79 !important;
}

.TextTeal {
    color: #1c799b !important;
}

/* .Text-Bg-teal{
    
} */
.HoverTextTeal:hover {
    color: #1c799b !important;
}

.text-SkyBlue {
    color: #6c9b9b !important;
}

#Logo {
    color: #1c799b;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
}

/* BACKGROUND AND BORDERS OF THE CSS ------------------------------------------------ */
.Bg-green {
    background-color: #2abc79 !important;
}

.Bg-DarkBlue {
    background-color: #121535 !important;
}

.Bg-LightGreen {
    background: #2abc79 !important;
}

.Bg-Purple {
    background-color: rgb(71, 38, 188);
}

.BgTeal {
    background: #1c799b;
}

.Bg-Blue {
    background-color: #e3f4fa;
}

.Bg-SkyBlue {
    background-color: #e9ffff !important;
}

.BlackToWhiteOnHover-Text {
    color: black;
}

.BlackToWhiteOnHover-Text:hover {
    color: white;
}

.BgGrey {
    background-color: rgb(239, 239, 239);
}

.BgLightGrey {
    background-color: rgb(239, 239, 239);
}

.Bg-Grey {
    background-color: rgb(227, 227, 227);
}

.BgGrey:hover {
    background-color: #1c799b;
}

.BgHoverGreen:hover {
    background-color: green !important;
}

.Bg-LightBlue {
    background-color: #e9eefb !important;
}

.BgToast {
    background-color: #52cb3f !important;
}

.CouponBorder {
    border: 1px dashed #1c799b;
}

.Bordergrey {
    border: 1px solid rgb(218, 216, 216);
}

.Text-Black {
    color: black;
}

.HoverTealBorder:hover {
    border-color: #1c799b !important;
}

.BorderTeal {
    border: 1px solid #1c799b;
}

/* BUTTONS AND HOVER EFFECTS------------------------------------------------------------ */
.AddToCartButton {
    border-radius: 20px;
    background: #e9ffff;
}

.AddToCartButton:hover {
    background: #1c799b !important;
}

.AddToCartImage {
    filter: drop-shadow(0px 100px 0 #1c799b);
    transform: translateY(-100px);
}

.AddToCartButton:hover .TextWhiteOnHover {
    color: white !important;
}

.AddToCartButton:hover .AddToCartImage {
    filter: drop-shadow(0px 100px 0 #ffffff);
    transform: translateY(-100px);
}

.HoverBGTeal:hover {
    background: #1c799b !important;
}

.NavItemHoverArrowAnimate:hover .Arrow {
    transform: rotate(180deg);
}

.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:active,
.btn.dropdown-toggle.active,
.btn.dropdown-toggle.show {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.btn.dropdown-toggle:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-toggle::after {
    content: none;
}

.HoverTeal:hover {
    color: #1c799b;
}

.Bulb {
    animation-name: bulb;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

@keyframes bulb {
    0% {
        opacity: 10%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 10%;
    }
}

/* CIRCULAR SHAPE DIVS------------------------------------------- */
.WhiteDiv40px {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 20px rgb(208, 207, 207);
}

.WhiteDiv50px {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.WhiteDiv60px {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.WhiteDiv80px {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.BgImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ANIMATIONS---------------------------------------------------------------- */

/* RESPONSIVE MEDIA QUERY--------------------------------------------------------------  */
@media screen and (max-width: 575px) {
    .CommonResponsiveText {
        font-size: 10px;
    }

    .HeadingFS {
        font-size: 20px !important;
    }
}

@media screen and (min-width: 576px) {
    .CommonResponsiveText {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    .CommonResponsiveText {
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    .CommonResponsiveText {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .CommonResponsiveText {
        font-size: 15px;
    }
}

@media screen and (min-width: 1400px) {
    .CommonResponsiveText {
        font-size: 15px;
    }
}